<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta content="width=320, user-scalable=no" name="viewport">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="あなたの太さはどれくらい？全国平均どれくらいなのか見てみよう！">
<meta property="og:url" content="https://mogya.github.io/ohinRank/" /> 
<meta property="og:title" content="ギガントおちんちんランキング" /> 
<meta property="og:image" content="https://mogya.github.io/ohinRank/img/can_coffee_ogp.png" /> 
<meta property="og:description" content="あなたの太さはどれくらい？全国平均どれくらいなのか見てみよう！" /> 
<meta name="twitter:card" content="summary_large_image" /> 
<meta name="twitter:site:id" content="mogya" /> 
<title>ギガントおちんちんランキング</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>
body{
  width:320px;
}
.title{
  font-size:1.5rem;
}
.title{
  font-size:1.5rem;
}
.container{
  margin-bottom: 10px;
}
#area_result .message-body {
  background: #fff;
  border: 1px solid #222;
  border-top: none;
}
.loading{
  text-align: center;
  font-size: 10rem;
}

</style>
</head>
<body>
<section id="app" class="section">
  <div v-show="loading" class="loading modal" :class="{ 'is-active':loading }">
    <div class="modal-background"></div>
    <div class="modal-content">
      <i class="fas fa-spinner fa-spin"></i>
    </div>
  </div>
  <div id="area_input" class="container">
    <h1 class="title">ギガントおちんちんランキング</h1>
    <p class="subtitle">あなたの太さはどれくらい？全国平均どれくらいなのか見てみよう！</p>
  </div>
  <div v-show="!showResult" id="area_input" class="container">
    <p class="subtitle"><i class="fas fa-edit"></i><a >測定方法</a>を参考に、太さを入力してね！</p>
    <img src="img/howto1.jpg" style="width:100%;">
    <img src="img/howto2.jpg" style="width:100%;">
    <img src="img/howto3.jpg" style="width:100%;">
    <img src="img/howto4.jpg" style="width:100%;">
    <div class="field">
      <label class="label" for="input_name">おなまえ</label>
      <div class="control">
        <input class="input" type="text" id="input_name" placefolder="ななし" v-model="name" >
      </div>
    </div>
    <div class="field">
      <label class="label" for="input_value">cm(小数も入力できます)</label>
      <div class="control">
        <input class="input" type="number" id="input_value" placefolder="200" v-model="value" >
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button :disabled="!submitable" @click="onSubmit" class="button is-primary is-large">判定</button>
      </div>
    </div>
    <div class="field">
	    <ul>
        <li><i class="fas fa-lock"></i>入力された情報はどこにも送信されません(アクセス解析もつけてません)(<a href="https://github.com/mogya/ohinRank">ソースコード</a>も確認できるよ)</li>
        <li><i class="fas fa-lock-open"></i>Twitterで公開したら、もちろん世界中に大公開だ！きみの偉大さを知ってもらおう！</li>
	    </ul>
    </div>
  </div>
  <div v-show="debug || showResult" id="area_result" class="message is-primary">
    <div class="message-header">
      <p>判定</p>
      <button @click="onClickResultClose" class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">
      <div v-if="value > maxvalue">
        <img src="img/cannon.png" style="width:200px;height:200px" />
        <p>{{name}}さんのおちんちんの太さ {{value}}cmは、日本人男性6千万人のなかでトップクラスに位置します。</p>
        <p>🙅‍♀️たぶんそんなことはないから。測定方法をもう一回確認してね</p>
      </div>
      <div v-else-if="percentage > 80">
        <img src="img/cannon.png" style="width:200px;height:200px" />
        <p>{{name}}さんのおちんちんの太さ {{value}}cmは、日本人男性6千万人のうち、上位{{percentage_num}}%くらいに位置します。</p>
        <p>めっちゃ巨根ですね👍</p>
        <div class="twitter">
          <p>
            <a :href=`https://twitter.com/intent/tweet?text=${tweet_text}&url=https://mogya.github.io/ohinRank/5.html`
              target='_blank'><i class="fab fa-twitter-square"></i>ツイート画面を開く</a>
          </p>
        </div>
      </div>
      <div v-else-if="percentage > 60">
        <img src="img/radish.png" style="width:200px;height:200px" />
        <p>{{name}}さんのおちんちんの太さ {{value}}cmは、日本人男性6千万人のうち、{{percentage_num}}%くらいに位置します。</p>
        <p>巨根と言えるでしょう🐴</p>
        <div class="twitter">
          <p>
            <a :href=`https://twitter.com/intent/tweet?text=${tweet_text}&url=https://mogya.github.io/ohinRank/4.html`
              target='_blank'><i class="fab fa-twitter-square"></i>ツイート画面を開く</a>
          </p>
        </div>
      </div>
      <div v-else-if="percentage > 40">
        <img src="img/coffee.png" style="width:200px;height:200px" />
        <p>{{name}}さんのおちんちんの太さ {{value}}cmは、日本人男性6千万人のうち、上から{{percentage_num}}%くらいに位置します。</p>
        <p>平均的サイズと言えるでしょう🐼</p>
        <div class="twitter">
          <p>
            <a :href=`https://twitter.com/intent/tweet?text=${tweet_text}&url=https://mogya.github.io/ohinRank/3.html`
              target='_blank'><i class="fab fa-twitter-square"></i>ツイート画面を開く</a>
          </p>
        </div>
      </div>
      <div v-else-if="percentage > 20">
        <img src="img/battery.png" style="width:200px;height:200px" />
        <p>{{name}}さんのおちんちんの太さ {{value}}cmは、日本人男性6千万人のうち、{{percentage_num}}%くらいに位置します。</p>
        <p>ちょっと細いほうかもしれません🦒</p>
        <div class="twitter">
          <p>
            <a :href=`https://twitter.com/intent/tweet?text=${tweet_text}&url=https://mogya.github.io/ohinRank/2.html`
              target='_blank'><i class="fab fa-twitter-square"></i>ツイート画面を開く</a>
          </p>
        </div>
      </div>
      <div v-else>
        <img src="img/pencil.png" style="width:200px;height:200px" />
        <p>{{name}}さんのおちんちんの太さ {{value}}cmは、日本人男性6千万人のうち、{{percentage_num}}%くらいに位置します。</p>
        <p>かなり細い方かも🦄</p>
        <div class="twitter">
          <p>
            <a :href=`https://twitter.com/intent/tweet?text=${tweet_text}&url=https://mogya.github.io/ohinRank/1.html`
              target='_blank'><i class="fab fa-twitter-square"></i>ツイート画面を開く</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="area_list" class="container">
    <ul>
      <li><a href='http://pandora.nu/pha/ochinchin/' target='_blank'>ハイパーオチンチンランキング</a> ←元祖</li>
      <li>creater: <a href='https://twitter.com/mogya' target='_blank'>mogya</a></li>
      <li>source code: <a href='https://github.com/mogya/ohinRank/' target='_blank'>mogya/ohinRank</a></li>
    </ul>
  </div>

</section>
</body>
</body>
<script type="text/javascript">
const user_count = 60000000;
const point_classes = [
     {value : 0, percentage : 100},
     {value : 3.14, percentage : 1.3},
     {value : 6.28, percentage : 15.7},
     {value : 9.42, percentage : 28.7},
     {value : 12.56, percentage : 39.7},
     {value : 15.7, percentage : 13.7},
     {value : 18.84, percentage : 0.9},
     {value : Infinity, percentage : 0},
];
var app = new Vue({
  el: "#app",
  data: {
    debug: true,
    loading: false,
    showResult: false,
    name: "",
    value: 0,
    tweet_text: '',
  },
  computed: {
    maxvalue: function () {
      return point_classes[point_classes.length-2].value;
    },
    rank: function () {
      let r = 1;
      if (this.percentage !== 0){
        r = Math.ceil(user_count*this.percentage/100);
      }
      this.debug_log(`rank(u):${user_count}`);
      this.debug_log(`rank(p):${this.percentage}`);
      this.debug_log(`rank:${r}`);
      return r;
    },
    percentage: function () {
      const c = this.user_classes;
      let p =
        (c[0].value-this.value) *
        (c[1].percentage-c[0].percentage) /
          (c[0].value-c[1].value) +
          c[0].percentage;
      this.debug_log(`percentage:${p}`);
      if (c[1].percentage === 0){ p = 0; }
      return p;
    },
    percentage_num: function(){
      let ret = '';
      if (this.percentage > 1){
        ret = this.percentage.toString().replace(/([^0]\.[^0])(.*)/,"$1");
      }else{
        ret = this.percentage.toString().replace(/(0\.0*[^0])(.*)/,"$1");
      }
      return ret;
    },
    submitable: function() {
      return !!(this.name && this.value >= 0 )
    },
    user_classes: function() {
      const index = point_classes.findIndex((element)=>{
        return (this.value < element.value);
      });
      const r = [point_classes[index], point_classes[index-1]];
      this.debug_log("user_classes:");
      this.debug_log(r);
      return r;
    }
  },
  methods: {
    onSubmit: function () {
      this.loading = true;
      setTimeout(()=>{
        this.showResult = true;
        this.loading = false;
        this.updateTweetText();
      }, 1000)
    },
    onClickResultClose: function(){
      this.showResult = false;
    },
    updateTweetText: function(){
      this.tweet_text = encodeURI(this.$refs.area_result_text.textContent);
    },
    debug_log: function(msg){
      // console.log(msg);
    }
  }
})
</script>
</html>

